
* {
    box-sizing: border-box;
}

body {
	background-color: #01151B;
    color:fff;
    margin:0px;
    padding:0px;
}

container {
    width: 960px;
}


.hide {
    display:none;
}

body.home {
    background-image: url(../img/maphome.svg);
    background-repeat: no-repeat;
}

.logo {
	margin:auto;
    width: 400px;
    padding-top: 10px;
    padding-bottom: 30px;
    
}


nav {
	color:fff;
	text-align:center;

}

nav {

   margin:auto;
    padding-top:50px;
    overflow:hidden;
    width:500px;
    
    
}
    
	li  a{ /*http://thecodeplayer.com/walkthrough/make-a-simple-navigation-with-hover-transitions */

        font-family: "museo-sans-condensed",sans-serif;
        width: 100px; border-left: 3px solid #666;
        cursor: pointer;
        padding: 10px 50px 10px 15px;
        -webkit-transition: all 0.3s ease-in;
        -moz-transition: all 0.3s ease-in;
        -o-transition: all 0.3s ease-in;
	}


li {
    display:inline;
    list-style-type:none;
    margin:auto;
}


nav li a:hover, nav li.current_page a{
	background: #5d6969; 
	border-left: 5px solid #fff;
    font-weight: bold;
	color: #01151B;
    padding-right:20px;

}

a:link {
    color:C0E5E4; /*light blue*/
    text-decoration:none; 
}
    
a:visited {
    color:C0E5E4;
}

a:active {
    color:#fff;
}

/* Video style effect: http://stackoverflow.com/questions/3794682/custom-css-for-audio-tag */ 

#trailer {
     position:relative; 
    margin:40px auto;
    font-size:12px;
    font-family:"museo-sans-condensed",sans-serif;
    padding:0px;
    width:960px; /* 1920 x 1080 */
    height:540px;
    
}



.dna {
/* background-image:; eventually dna background image   */
    background-color:aqua;
    position:absolute;
    width:100px;
    height:60px;
    top:240px; /* parent container height minus our container height, divided by 2 i.e. 500/2 - 60/2 */
    left:430px; 
}

.dna-point {
    position:absolute;
    width:12px;
    height:12px;
    border-radius:12px;
    background-color: aliceblue;
    cursor: pointer;
    z-index:10000;
    box-shadow: 2px 2px 4px 0px #006773;
    border: 1px dotted #01151B;
    
}

.dna-point.clicked {
    background-color:black;   
}

.dna-point1 {
    top:32px;
    left:16px;
}

.dna-point2 {
    top:16px;
    left:32px;
}

.dna-point3 {
    top:40px;
    left:60px;
}
.toggle-vid {
    position:absolute;
    bottom:0px;
    left:0px;
    z-index:10000;
}
.toggle-vid-btn {
    font-size:20px;
    font-family:"museo-sans-condensed",sans-serif;
    padding:12px;
    cursor:pointer;
    font-weight: bold;
}

.toggle-vid-btn:hover {
    color:C0E5E4;
    text-shadow: 3px 3px 3px C0E5E4;;
    
}



    
video {
    width:100%;
    height:100%;
-moz-box-shadow: 2px 2px 4px 0px #006773;
-webkit-box-shadow:  2px 2px 4px 0px #006773;
box-shadow: 2px 2px 4px 0px #006773;
-moz-border-radius:7px 7px 7px 7px ;
-webkit-border-radius:7px 7px 7px 7px ;
border-radius:7px 7px 7px 7px ;
}

@keyframes growshrink {
    0%, 100%   { transform: scale(1); }
    50%  { transform: scale(1.1); }
}

.helena {
    padding-top:8px;
    margin:auto;
    width:770px;
    padding-bottom: 110px;
   
}

.helena img {
    animation-name: growshrink;
    animation-duration: 2s;
    animation-iteration-count: 1; /* we only want it to occur once */
}
.scroll {
    font-size: 15px;
    font-family:"museo-sans-condensed",sans-serif;
}






/* CLONE ORIGINS */

.map-wrapper {
    background-color:#0a0a0a;
    margin:0px;
    padding:0px;
}

.map {
    position:relative;
     width:960px;
    margin:0 auto;
}

.map-image {
   
}


.dot {
    position:absolute;
    width:12px;
    height:12px;
    border-radius:12px;
    cursor: pointer;
    z-index:10000;
    box-shadow: 2px 2px 4px 0px #006773;
    border: 1px dotted #fff;
    
}
.dot img {
    display:none;
    position:absolute;
    width:120px;
    left:-54px;
    top:-190px;
}
.dot .modal-content {
    display:none;
}
.dot:hover {
  background-color: white;
}
.dot:hover img {
    display:block;
}
.A {
    top:60px;
    left:300px;
}

.B {
    top:260px;
    left:600px;
}

.C {
    top:130px;
    left:350px;
}



/* MODAL */

#modal-overlay {
    display:none;
    width:100%;
    height:100%;
    z-index:20000;
    position: fixed;
    background:rgba(0, 0, 0, 0.7);
}

#modal {
    display:none;
    width:960px;
    min-height:400px;
    margin:120px auto;
    background: rgba(255, 255, 255, 0.2);
    border:1px solid #cecece;
}


#modal-content {
    margin:24px;
    color:black;
}



/* CAST */

.cast {
    height:450px;
    width:574px;
    margin:20px auto;
}

.ari, .tat, .jordan {
    height:300px;
}
.ari-text{
    font-family: "museo-sans-condensed",sans-serif;
    font-size:12px;
    text-align: justify;
    